@use "../index.scss" as *;

.bannerText {
  background-color: $color_blue_dark;
  grid-column: col-start 5 / full-end;
  padding: 4rem;
  display: grid;
  align-content: center;
  justify-items: start;
  @include respond(tab-port_830px) {
    grid-column: 1 / -1;
    grid-row: 5 /6;
  }
}
.title_4 {
  @include title_4;
}
.title_2 {
  @include title_2;
}
.text {
  margin-bottom: 4rem;
}
