@mixin title_1 {
  font-size: 4.5rem;
  font-weight: 700;
  color: white;
}
@mixin title_2 {
  color: $color_gray_light;
  font-size: 4rem;
  font-weight: 700;
  line-height: 100%;
}
@mixin title_3 {
  font-size: 1.9rem;
  font-weight: 700;
  color: $color_green_dark;
  &__white {
    color: white;
  }
  &__green_light {
    color: $color_green_light;
  }
}
@mixin title_4 {
  color: $color_green_light;
  font-size: 1.7rem;
  font-weight: 300;
  letter-spacing: 0.2.21rem;
}

@mixin respond($breakpoint) {
  
  @if $breakpoint == tab-land_1170px {
    @media only screen and (max-width:1170px) {
      @content;
    }
  }

  @if $breakpoint == tab-port_830px {
    @media only screen and (max-width:830px) {
      @content;
    }
  }

  @if $breakpoint == phone_450px {
    @media only screen and (max-width: 450px) {
      @content;
    }
  }

  @if $breakpoint == big-screen_1800 {
    @media only screen and (min-width: 1800px) {
      @content;
    }
  }
}
